DATABASE_URL="postgresql://postgres:YOUR_POSTGRES_PASSWORD@localhost:5432/memora?schema=public"

JWT_SECRET=memora_super_secret_jwt_key_98374982374982374982374
PORT=5000
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
